*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  width:100%;
}
header{
  border:5px solid #24292e;
  width:100%;
  height:100px;
  position:fixed;
  background: #24292e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-front;
}
.header-elem{
  font-family: 'Do Hyeon', sans-serif;
  font-size:30px;
  color:#ffffff;
  height:90px;
}
#header-end{
  margin-left: auto;
}
a{
  text-decoration: none;
  color:#000000;
}
a:hover{
  text-decoration: underline;
}
.white{
  color: #ffffff;
}
.first_art{
  padding-top: 100px;
}
